


html {
  scroll-behavior: smooth;
}

body {
  background-color: #180102;
  font-size: 1rem;
  color: #ffffff; 
}

.red {
  border: 1px solid red;
}

.blue {
  border: 1px solid blue;
}

.shade {
  background: #180102;
  background: linear-gradient(180deg, rgba(24, 1, 2, 0) 0%, rgba(24, 1, 2, 100) 90%);
}