


html {
  scroll-behavior: smooth;
}

body {
  background-color: #180102;
  font-size: 1rem;
  color: #ffffff; 
}

.red {
  border: 1px solid red;
}

.blue {
  border: 1px solid blue;
}

.shade {
  background: #180102;
  background: linear-gradient(180deg, rgba(24, 1, 2, .3) 0%, rgba(24, 1, 2, 1) 85%);
}

/*? Swiper */
.swiper-button-next {
  justify-content: right !important;
  padding-right: 1rem;
  top: 50% !important;
  right: 0 !important;
  margin-top: 0 !important;
  visibility: hidden;
  height: 100% !important;
  width: 10rem !important;
  transform: translateY(-50%) !important;
  transition: visibility 0.2s ease-in-out;
  color: #E50914 !important;
  background: rgb(24, 1, 2);
  background: linear-gradient(90deg, rgba(16, 16, 16, 0) 0%, rgba(24, 1, 2, 1) 100%);
}

.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
  visibility: visible;
}

.swiper .swiper-button-next:active,
.swiper .swiper-button-prev:active {
  visibility: visible;
  color: #4D0407 !important;
}

.swiper-button-prev {
  justify-content: left !important;
  padding-left: 1rem;
  top: 50% !important;
  left: 0 !important;
  margin-top: 0 !important;
  visibility: hidden;
  height: 100% !important;
  width: 10rem !important;
  transform: translateY(-50%) !important;
  transition: visibility color 0.2s ease-in-out;
  color: #E50914 !important;
  background: rgb(24, 1, 2);
  background: linear-gradient(90deg, rgba(24, 1, 2, 1) 0%, rgba(16, 16, 16, 0) 100%);
}

.swiper-carousel {
  width: 100% !important;
  display: flex !important;
  padding-top: 22px !important;
  padding-left: 6px !important;
}

.swiper-pagination-bullet-active {
  background-color: #E50914 !important;
}

.swiper-pagination-bullet {
  width: 16px !important;
  height: 2px !important;
  border-radius: 6px !important;
  background-color: rgba(229, 9, 20, 50%) !important;
}

.swiper-pagination-horizontal {
  display: flex;
  justify-content: end;
  height: fit-content;
  top: 0 !important;
  padding-right: 1rem;
}

/* Custom Scrollbars Style */
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #180102;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E50914;
  border-radius: 0.3rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4D0407;
}

@media (max-width: 640px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .swiper-carousel {
    padding-left: 20px !important;
  }

  .swiper-pagination-horizontal {
    padding-right: 2rem;
  }
}

@media (min-width: 1024px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 11rem !important;
  }

  .swiper-carousel {
    padding-left: 50px !important;
  }

  .swiper-pagination-horizontal {
    padding-right: 4rem;
  }

  .swiper-pagination-bullet {
    width: 28px !important;
    height: 4px !important;
  }
}