@import "tailwindcss";

@theme {
  /* website font sytle */
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  /* additional breakpoints for smaller device */
    --breakpoint-2xs: 23.4375rem;
    --breakpoint-xs: 26.5625rem;
    --breakpoint-3xl: 112.5rem;
}